<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/image/banner/logo_image.png" type="image/x-icon">
    <title>Pastel</title>
</head>
<body>
    <header></header>

    <!-- Seção Cardápio-->
    <section class="destaque card">
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto1-removebg-preview (1).png" alt="">
                </div>
                <div class="text">
                    <div class="title">Coxinha Frango</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto2-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pizza Champignon</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto3-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Torta de Morango</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto4.webp" alt="">
                </div>
                <div class="text">
                    <div class="title">Coxas Crocantes</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto5-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pastel Queijo</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto6-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pastel Queijo</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto7-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pastel Queijo</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto8.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pastel Queijo</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
        <div class="box">
                <div class="imgBox">
                    <img src="/public/image/pastel/foto9-removebg-preview.png" alt="">
                </div>
                <div class="text">
                    <div class="title">Pastel Queijo</div>
                    <div class="subtitle">Tamanho Médio</div>
                    <div class="preco">R$19.99</div>
                    <button class="add">Peça Já</button>
                </div>
        </div>
     </section>
    

    <script src="/public/js/main.js"></script>
    <script src="/public/js/slider.js"></script>
</body>
</html>